/* Shared styles */
/* * {
  margin: 0;
  padding: 0;
} */
body {
  font-family: "Open Sans", sans-serif;
}
main {
  max-width: 1140px;
  margin: auto;
}

.text-primary {
  color: #fd6e0a;
}
.button-primary {
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: rgb(243, 240, 240);
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-title {
  font-size: 40px;
  font-weight: bold;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom right, top left;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 25px;
  color: #474747;
  margin-bottom: 0px;
}

.banner-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 5px;
}

/* about section style */
.about {
  margin: 120px 0;
  padding: 130px;
  border-radius: 10px;
  background-color: #fff8f3;
}
.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.section-description {
  text-align: center;
  font-size: 16px;
}
.section-heading {
  padding: 30px 140px;
}
.about-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-info {
  text-align: center;
}
.info-title {
  margin-bottom: 0px;
}

/* What i can do section styles */
.skills-container {
  display: flex;
  gap: 20px;
}
.skill {
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 10px 10px 5px lightblue;
}

/* Resume Section styles */
.normaly-section {
  margin: 120px 0px;
}
.resume-container {
  display: flex;
  gap: 0 20px;
}
.download-cv {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff8f3;
  gap: 10px;
  padding: 130px 150px;
}

.contact input,
textarea {
  display: block;
  margin: 25px;
  padding: 18px 35px;
  border: 1px solid gray;
  border-radius: 10px;
}

.hide {
  display: none;
}
/* Responsive Website  with Tailwind breakpoints*/
/* Mobile device */
@media screen and (max-width: 576px) {
  .header {
    background-image: none;
  }
  nav,
  nav > ul,
  .skills-container,
  .banner {
    flex-direction: column;
  }
  .section-heading {
    padding: 10px;
  }
  .normaly-section {
    margin: 10px 0px;
    padding: 10px;
  }
  .resume-container {
    flex-direction: column;
  }
  footer,
  .about-info-container {
    flex-direction: column;
    padding: 10px;
  }
  .about,
  .banner {
    padding: 10px;
  }
  .contact {
    display: none;
  }
  .banner .profile-pic {
    width: 100%;
  }
}
/* Medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
  .skills-container,
  .resume-container {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    padding: 10px;
  }
  .about {
    padding: 10px;
  }
}
