/* Shared styles */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.button-primary {
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: rgb(243, 240, 240);
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-title {
  font-size: 40px;
  font-weight: bold;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}
/* header related styles */
.header {
  background-color: #fff8f3;
}

.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic {
  width: 500px;
}
